on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  sbom:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Trivy Scan
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: "fs"
          format: "github"
          output: "dependencies.sbom.json"
          scan-ref: "."
          github-pat: ${{ secrets.GITHUB_TOKEN }}
